{% extends 'base.html' %}}

{% block title %} About
{% endblock title %}
{% block aboutactive%} active{% endblock aboutactive%}
{% block body %}

 <h1 class="aboutdeveloper" style="margin-left: 6%;"><b>About developer</b></h1>
 <div class="container" style="margin-top: 6%;">
     <div class="cont1" style="display: inline-block; width: 42%; vertical-align: top;">
<p>Samarth Vyas, an aspiring young mind going to be an engineer soon. Developed this application just to smolder the interest in the field of technology.
Started his journey in 2018 when admitted in Bachelor of Engineering course with specialization in Information Technology.
While accepting the challenges and grabing the oppurtunities the idea of developing this application rises.Through sBloger one can express their thoughts in the form blogs and can read others blogs by creating their personalized accounts.
sBloger provides secured  platform for people to show what they want this world should know. Future enhancements for this application aims to increase the security levels so that no illegal authorization can be entertained.
Developer aims to provide a more secure platform for the users. 
</p>
</div>
<div class="vl" style="border-left: 6px solid white;height: 500px;display: inline-block;width: 12%; vertical-align: top;"></div>

<div class="cont2" style="display: inline-block; width: 25%;">
<img src="static/img/samarth1.jpeg" style="width: 114%;margin-bottom: 326%;margin-left: 80%;">
</div>
</div>

 {% endblock body %}